.scroll-pane > .corner{
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-padding: 5 3 5 3px;
    -fx-background-insets: 2 1 2 1px;
    -fx-background-color: #277362;
    -fx-background-radius: 5px;
}

.scroll-bar:horizontal > .track,
.scroll-bar:vertical > .track{
    -fx-background-color: #b8d9d1;
    -fx-border-radius: 5px;
    -fx-background-radius: 10px;
}

.scroll-bar:horizontal > .thumb,
.scroll-bar:vertical > .thumb {
    -fx-background-color: #277362;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.scroll-pane > .anchor-pane > .button {
    -fx-text-fill: #277362;
    -fx-background-color:  #b8d9d1;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: Microsoft JhengHei Bold;
    -fx-font-size: 15px;
}